*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300;400;700&display=swap');
$red: #f47454;
$lightBrown: #be9b7b;
$dark: #3c2f2f;
$white: #fff4e6;
$brown: #4b3832;
$green: #3f5a36;


body{
    font-family: 'Sono', sans-serif;
    background-image: url("img/layered-waves-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    height: 100vh;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    padding: 20px;
    img{
        height: 60px;
    }
}
.logIn{
    padding: 7px 25px;
    background: $red;
    border: none;
    border-radius: 15px;
    color: $white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
    &:hover{
        background: $brown;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        font-weight: 700;
        font-size: 22px;
        color: $dark;
    }
}
.mainTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    color: $dark;
    p{
        font-weight: 700;
        font-size: 30px;
        margin-top: 20px;
        &:last-of-type{
            font-size: 22px;
            font-weight: 400;
        }
    }
    button{
        margin: 20px;
        width: 15vw;
        height: 55px;
        border-radius: 5px;
        background: $brown;
        font-weight: 700;
        font-size: 17px;
        border: none;
        cursor: pointer;
        transition: .2s;
        &:hover{
            background: lighten($color: #4b3832, $amount: 15%);
        }
    }
}
.link{
    color: white;
    text-decoration: none;
}

.logContainer{
    height: 65vh;
    width: 65vw;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    position: relative;
    gap: 170px;
    border-radius: 3px;
    transition: all .5s;
    -o-transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    .formItem{
        display: flex;
        justify-content: center;
        align-items: center;
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 17px;
            z-index: 99;
            label{
                margin-top: 3px;
                text-align: left;
            }
            input{
                padding: 6px;
                border: 1px solid $brown;
                display: block;
                &:focus{
                    outline: none;
                    border: 1px solid $red;
                    box-shadow: 3px 2px 4px rgba(66,66,66,.51);
                }
            }
        }
        .infoContainer{
            position: relative;
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 40px;
            top: 35%;
            span{
                font-size: 24px;
                font-weight: 700;
                text-align: center;
                color: $dark;
            }
            button{
                width: 60%;
            }
        }
        .box{
            position: absolute;
            z-index: 1;
            left: 30px;
            top: -40px;
            content: "x";
            background: $lightBrown;
            width: 40%;
            height: 120%;
            z-index: 0;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            transition: all .6s;
            -o-transition: all .6s;
            -moz-transition: all .6s;
            -webkit-transition: all .6s;
            &.slide{
                left: 52%;
            }
        }
    }
    
    button{
        background: $red;
        border: none;
        padding: 7px;
        text-transform: lowercase;
        font-weight: 700;
        color: $dark;
        margin-top: 17px;
        cursor: pointer;
        &:hover{
            box-shadow: 0 1px 1px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.16), 0 8px 8px rgba(0,0,0,0.20);
            background: darken($color: #f47454, $amount: 10%);
            color: $white;
        }
    }
    form{
        display: flex;
        flex-direction: column;
        gap: 7px;
        font-size: 17px;
        input{
            padding: 5px;
            border: 1px solid $brown;
            display: block;
            &:focus{
                outline: none;
                border: 1px solid $red;
                box-shadow: 3px 2px 4px rgba(66,66,66,.51);
            }
        }
    }
}
.addPage{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    margin: 35px;
    height: 75vh;
    .mainAddPage{
        .title{
            margin-bottom: 20px;
            input{
                width: 100%;
                padding: 7px;
                border: 2px solid $lightBrown;
                border-radius: 2px;
                &:focus{
                    outline: none;
                    border: 2px solid $red;
                }
            }
        }
        .textContainer{
            .editor{
                height: 50vh;
                background: $white;
            }
        }
    }
    .aside{
        padding: 0 20px;
        .publish{
            display: flex;
            flex-direction: column;
            border: 2px solid $lightBrown;
            border-radius: 2px;
            padding: 15px;
            gap: 10px;
            h3, b{
                color: #3c2f2f;
            }
            input[type="file"]::file-selector-button{
                padding: 2px 10px;
                border: 1px solid $lightBrown;
                border-radius: 2px;
                text-transform: lowercase;
                cursor: pointer;
                transition: .3s;
                &:hover{
                    background: $brown;
                    border: 1px solid $brown;
                    color: white;
                }
            }
            .buttons{
                display: flex;
                justify-content: space-between;
                button{
                    padding: 5px 18px;
                    border: 1px solid $lightBrown;
                    border-radius: 2px;
                    background: $lightBrown;
                    text-transform: lowercase;
                    cursor: pointer;
                    transition: .3s;
                    &[type="submit"]{
                        background: $red;
                        border: 1px solid $red;
                        font-weight: bold;
                    }
                    &:hover{
                        background: $brown;
                        border: 1px solid $brown;
                        color: white;
                    }
                }
            }
        }
        .categoriesAddPage{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 20px;
            margin-top: 20px;
            border: 2px solid $lightBrown;
            border-radius: 2px;
            .cat{
                label{
                    padding-left: 20px;
                }
            }
        }
    }
}
.single{
    width: 65vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    .img{
        height: 40vh;
        display: flex;
        justify-content: center;
        img{
            height: 100%;
        }
    }
    .user{
        display: flex;
        align-content: flex-start;
        align-items: center;
        gap: 20px;
        img{
            width: 80px;
            border-radius: 50%;
        }
        .daneUser{
            .fullName{
                font-weight: bold;
                font-size: 21px;
            }
        }
        button{
            i{
                color: $white;
            }
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid $brown;
            background: $brown;
            cursor: pointer;
            transition: all .3s;
            &.edit:hover{
                background: $green;
                border: 1px solid $green;
            }
            &.delete:hover{
                background: $red;
                border: 1px solid $red;
            }
        }
    }
    .post{
        .postTitle{
            padding: 20px;
            text-align: center;
            font-size: 28px;
        }
        .postContent{
            padding-bottom: 60px;
            text-align: justify;
        }
    }
}
footer{
    display: flex;
    justify-content: space-between;
    background: $dark;
    padding: 20px;
    text-transform: uppercase;
    a{
        text-decoration: none;
        color: white;
        &:hover{
            text-decoration: underline;
            color: $red;
        }
    }
}
@media screen and (max-width: 992px) {
    .addPage{
        display: flex;
        flex-direction: column;
        height: 100%;
        .publish{margin-top: 90px;}
    }
    .logContainer{
        height: 100%;
        width: 85vw;
        flex-direction: column;
        gap: 50px;
        margin: 50px auto;
        .formItem{
            margin: 20px 0;
            form{
                font-size: 15px;
                input{padding: 4px;}
            }
            .box{display: none;}
        }
    }
}



.slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/* ----------------------------------------------
 * Generated by Animista on 2023-3-16 10:54:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}